.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  gap: 50px;
  margin: 80px 170px;
}
.contact-title {
  position: relative;
}

.contact-title h1 {
  padding: 0px 30px;
  font-size: 50px;
  font-weight: 500;
}

.contact-section {
  display: flex;
  gap: 150px;
}

.contact-left {
  width: 30%;
  float: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-left h1 {
  font-size: 40px;
  font-weight: 500;
  background-clip: text;
  background: linear-gradient(270deg, #ece810 10%, #df8908 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-left p {
  max-width: 550px;
  color: #d8d8d8;
  font-size: 18px;
  line-height: 35px;
  text-align: justify;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #d8d8d8;
}
.contact-detail p {
  font-size: 16px;
}

.contact-detail img {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
}
.social-icons .icon:hover {
  transition: 0.3s;
  transform: scale(1.05);
}
.social-icons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background: black;
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 18px;
}

.contact-right label {
  color: #d8d8d8;
  font-size: 18px;
  font-weight: 400;
}

.contact-right input {
  border: none;
  width: 700px;
  height: 60px;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: outfit;
  font-size: 16px;
}

.contact-right textarea {
  border: none;
  width: 665px;
  padding: 25px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: outfit;
  font-size: 20px;
}

.contact-submit {
  border: 2px solid #df8908;
  color: white;
  border-radius: 50px;
  background: transparent;
  font-size: 20px;
  padding: 12px 26px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-submit:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .contact-left {
    width: 90%;
    align-items: center;
    gap: 20px;
  }

  .contact-details {
    gap: 15px;
  }

  .contact-detail p {
    font-size: 15px;
  }
  .contact-detail img {
    width: 25px;
    height: 25px;
  }

  .social-icons {
    width: 280px;
  }

  .contact-right {
    align-items: center;
  }
  .contact-right input {
    width: 600px;
    height: 50px;
  }
  .contact-right textarea {
    width: 565px;
  }

  .contact-submit {
    font-size: 18px;
  }
}
